In [7]:
import pandas as pd
import os

In [20]:
mainpath = "/home/analin/Documents/tesisDataMining/sosProject/dataset"
filename = "IDVFC_NM_1.csv"
fullpath = os.path.join(mainpath, fullpath)

In [18]:
data = pd.read_csv(fullpath)

In [19]:
data.head()

,A�o,Clave_Ent,Entidad,Bien jur�dico afectado,Tipo de delito,Subtipo de delito,Modalidad,Sexo,Rango de edad,Enero,...,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,Mujer,Menores de edad (0-17),0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
1,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,Mujer,Menores de edad (0-17),0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
2,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,Mujer,Menores de edad (0-17),0,...,0,0,1,0,0,1,0,0.0,0.0,0.0
3,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,Mujer,Menores de edad (0-17),0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
4,2015,1,Aguascalientes,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,Mujer,Menores de edad (0-17),0,...,0,0,0,0,0,0,0,0.0,0.0,0.0

Reading header

In [21]:
data.columns.values

array(['A\xf1o', 'Clave_Ent', 'Entidad', 'Bien jur\xeddico afectado',
       'Tipo de delito', 'Subtipo de delito', 'Modalidad', 'Sexo',
       'Rango de edad', 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo',
       'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre',
       'Diciembre'], dtype=object)

In [28]:
data.tail(8)

,A�o,Clave_Ent,Entidad,Bien jur�dico afectado,Tipo de delito,Subtipo de delito,Modalidad,Sexo,Rango de edad,Enero,...,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
29432,2018,32,Zacatecas,Libertad personal,Secuestro,Secuestro,Otro tipo de secuestros,No identificado,No identificado,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
29433,2018,32,Zacatecas,Libertad personal,Tr�fico de menores,Tr�fico de menores,Tr�fico de menores,No identificado,No identificado,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
29434,2018,32,Zacatecas,Libertad personal,Rapto,Rapto,Rapto,No identificado,No identificado,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
29435,2018,32,Zacatecas,Libertad personal,Otros delitos que atentan contra la libertad p...,Otros delitos que atentan contra la libertad p...,Otros delitos que atentan contra la libertad p...,No identificado,No identificado,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
29436,2018,32,Zacatecas,El patrimonio,Extorsi�n,Extorsi�n,Extorsi�n,No identificado,No identificado,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
29437,2018,32,Zacatecas,La sociedad,Corrupci�n de menores,Corrupci�n de menores,Corrupci�n de menores,No identificado,No identificado,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
29438,2018,32,Zacatecas,La sociedad,Trata de personas,Trata de personas,Trata de personas,No identificado,No identificado,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
29439,2018,32,Zacatecas,La sociedad,Otros delitos contra la sociedad,Otros delitos contra la sociedad,Otros delitos contra la sociedad,No identificado,No identificado,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [25]:
data.shape

(29440, 21)

In [29]:
data.describe()

,A�o,Clave_Ent,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
count,29440.000000,29440.000000,29440.000000,29440.000000,29440.000000,29440.000000,29440.000000,29440.000000,29440.000000,29440.000000,29440.000000,22080.000000,22080.000000,22080.000000
mean,2016.500000,16.500000,2.860190,2.907371,3.222758,3.219837,3.497418,3.330061,3.219667,3.283152,3.306624,3.374004,3.153306,3.094112
std,1.118053,9.233249,19.977528,20.129254,22.380621,22.955452,24.910819,24.297315,23.880988,24.227269,25.140624,26.939552,23.922732,24.252860
min,2015.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.750000,8.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2016.500000,16.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2017.250000,24.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2018.000000,32.000000,930.000000,965.000000,1047.000000,1221.000000,1225.000000,1216.000000,1587.000000,1270.000000,1462.000000,1709.000000,1429.000000,1462.000000

In [31]:
data.dtypes

A�o                         int64
Clave_Ent                   int64
Entidad                    object
Bien jur�dico afectado     object
Tipo de delito             object
Subtipo de delito          object
Modalidad                  object
Sexo                       object
Rango de edad              object
Enero                       int64
Febrero                     int64
Marzo                       int64
Abril                       int64
Mayo                        int64
Junio                       int64
Julio                       int64
Agosto                      int64
Septiembre                  int64
Octubre                   float64
Noviembre                 float64
Diciembre                 float64
dtype: object

# Missing Values

In [32]:
pd.isnull(data["Octubre"])

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
29410     True
29411     True
29412     True
29413     True
29414     True
29415     True
29416     True
29417     True
29418     True
29419     True
29420     True
29421     True
29422     True
29423     True
29424     True
29425     True
29426     True
29427     True
29428     True
29429     True
29430     True
29431     True
29432     True
29433     True
29434     True
29435     True
29436     True
29437     True
29438     True
29439     True
Name: Octubre, Length: 29440, dtype: bool

In [33]:
pd.isnull(data["Octubre"]).values.ravel().sum()

7360